.square {
  width: 100px;
  height: 100px;
  background-color: black;
}

.rounded {
  border-radius: 50px;
}
.triangle {
  background-color: black;
  height: calc(tan(60deg) * 100px / 2);
  width: 100px;
}
.transition {
  /* 変化するすべてのプロパティを1秒(1s)かけて変化させる */
  transition: all 1s;
}
